/*
 * Globals
 */

/* Links */

a,
a:focus,
a:hover {
	color: #fff;
}
/* Custom default button */

.btn-default,
.btn-default:hover,
.btn-default:focus {
	color: #333;
	text-shadow: none;
	/* Prevent inheritence from `body` */
	background-color: #fff;
	border: 1px solid #fff;
}
/*
 * Base structure
 */

html,
body {
	font-family: 'Roboto';
	height: 100%;
	background-color: #FF7F66;
	font-weight: 300;
	overflow: hidden;
}
body {
	color: #FFF6E5;
	text-align: center;
}
h1 {
	font-family: 'Roboto Slab';
	font-size: 200px;
}
/* Extra markup and styles for table-esque vertical and horizontal centering */

.site-wrapper {
	display: table;
	width: 100%;
	height: 100%;
	/* For at least Firefox */
	min-height: 100%;
	/*-webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
	box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);*/
	border-bottom-style: solid;
	border-bottom-color: #7ECEFD;
	border-bottom-width: 0;
	-webkit-transition: border-bottom-width ease-in-out 1s, -webkit-transform 0.5s;
	transition: border-bottom-width ease-in-out 1s, transform 0.5s;
	overflow-x: hidden;
}
.site-wrapper-inner {
	display: table-cell;
	vertical-align: top;
}
.cover-container {
	margin-right: auto;
	margin-left: auto;
}
/* Padding for spacing */

.inner {
	padding: 30px;
}
.mastfoot .inner {
	padding-bottom: 15px;
}
/*
 * Cover
 */

.cover {
	padding: 0 20px;
}
.cover .btn-lg {
	padding: 10px 20px;
	font-weight: bold;
}
/*
 * Footer
 */

.mastfoot {
	color: #999;
	/* IE8 proofing */
	color: rgba(255, 255, 255, .5);
}
/*
 * Affix and center
 */

@media (min-width: 768px) {
	.mastfoot {
		position: fixed;
		bottom: 0;
	}
	/* Start the vertical centering */
	.site-wrapper-inner {
		vertical-align: middle;
	}
	/* Handle the widths */
	.mastfoot,
	.cover-container {
		width: 100%;
		/* Must be percentage or pixels for horizontal alignment */
	}
}
@media (min-width: 992px) {
	.mastfoot,
	.cover-container {
		width: 700px;
	}
}
/* extra shit */

span.badge-outer {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: -50px;
	-webkit-transition: bottom ease-in-out 1s;
	transition: bottom ease-in-out 1s;
}
span.badge {
	font-size: 18px;
	border-radius: 1px;
	background-color: #2185C5;
	height: 26px;
	margin: 0 auto;
	-webkit-transition: bottom ease-in-out 1s;
	transition: bottom ease-in-out 1s;
}